@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
    format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Shadows Into Light Two', cursive;
    color: #fff;
    font-size: 80px;
}.title{
    font-family: 'Shadows Into Light Two', cursive;
    color: #C768EC;
    font-size: 50px;
    text-align: center;
}
.sub-title{
    font-family: 'Gruppo', cursive;
    color: #fff;
    font-size: 45px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
 /*header*/
header{
    width: 100%;
    height: 800px;
    background: #f4c4f3;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(301, 96%, 70%, 0.609), #f4c4f385), url(../img/img1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(301, 96%, 70%, 0.609), #f4c4f385), url(../img/img1.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.navcls_1{
     text-align: right;
     padding: 30px 50px 0 0;
}.navcls_1 > a{
    font-family: 'Gruppo', cursive;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
    transition: all .5s ease;
}
.navcls_1 > a:hover{
     text-decoration: underline;
     text-decoration-color: #f4c4f3;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
header > .text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*content about*/

.container-about-of{
    display: flex;
    justify-content: space-evenly;
}

.container-about-of img{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 0;
    margin-top: 0;
}
.img-box{
    width: 35%;
    overflow: hidden;
    box-shadow: 3px 5px 25px rgb(0, 0, 0, .548);
    border-radius: 20px;
}
.img-box .imagen-about{
    transition: 1s;
}
.imagen-about:hover{
    transform: scale(1.2);
}

.container-about .text-container{
    width: 48%;
}
.text-container .title{
    margin-bottom: 35px;
}
.text-container p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-size: 25px;
    font-family: 'Gruppo', cursive;
}

/*Content Skills*/
.container-skills{
    background: #f2f2f2;
    margin-top: 30px;
    padding-top: 75px;
}
/*.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
}
.image-skill{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.image-skill > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}*/

.flexslider{
    width: 100%;
    position: relative;
}
.slides{
    overflow: hidden;
}
.slides img{
    width: 100%;
    margin-top: 50px;
}
.slides ,
.flex-control-nav,
.flex-direction-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
}
.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;

}
.flex-control-nav li a{
    display: block;
    background: #AF7AC5;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
    transition: all .3s ease;
}
.flex-control-nav li a:hover{
    background: #6C3483;
}
.flex-control-nav li a.flex-active{
    background: #6C3483;
}
.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 65px;
    height: 65px;
    overflow: hidden;
    opacity: none;
}
.flex-direction-nav .flex-prev{
    left: 0;
    font-size: 35px;
    border-radius: 50%;
    background: #A569BD;
    color: #fff;
    transition: all .5s ease;
    text-align: center;
    line-height: 2;
}
.flex-direction-nav .flex-prev:hover{
    background-color: #fff;
    color: #6C3483;
}

.flex-direction-nav .flex-next{
    right: 0;
    font-size: 35px;
    border-radius: 50%;
    background:#A569BD;
    color: #fff;
    transition: all .5s ease;
    text-align: center;
    line-height: 2;
}
.flex-direction-nav .flex-next:hover{
    background-color: #fff;
    color: #6C3483;
}
.flex-caption p{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.cont-p{
    font-size: 50px;
    font-family: 'Gruppo', cursive;
    color: #fff;
    text-shadow: -3px -3px 4px #000;
}


/* References container */
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.cards .card{
    background: #f4c4f3;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .content-card-text{
    width: 60%;
    
}
.cards .card > .content-card-text p{
    font-weight: 300;
    padding-top: 5px;
}

/* Services */
/*
.container-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.services-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.services-ind{
    width: 28%;
    text-align: center;
}
.services-ind img{
    width: 90%;
}
.services-ind h3{
    margin: 10px 0;
}
.services-ind p{
    font-weight: 300;
    text-align: justify;
}*/
.services-ind img{
    width: 100%;
}

.services-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
h3{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #a13ec8;
}
.text-cont{
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    text-align: center;
}


.carousel{
    position: relative;
    margin-top: 30px;
}

.carousel__siguiente,
.carousel__anterior{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 50px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #a13ec8;
}
.carousel__anterior{
    left: -12px;
    outline: none;
}
.carousel__siguiente{
    right: -12px;
    outline: none;
}
.carousel__indicadores{
    margin-top: 30px;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background: #a13ec8;
    opacity: .5;
    border-radius: 0;
    transition: all .5s ease;
}
.carousel__indicadores .glider-dot:hover{
    opacity: .5;
}
.carousel__indicadores .glider-dot.active{
    opacity: 1;
}
.carousel__contenedor{
    padding-right: 10px;
    padding-left: 10px;
}

/* responsive style */

@media screen and (max-width:900px){
    /*header*/
    header{
        background-position: center;
    }
    .animate__animated{
        text-align: center;
    }
    .container-about-of{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-about .text-container{
        width: 90%;
    }
    .imagen-about{
        width: 90%;
    }
    .cont-p{
        font-size: 20px;
    }
    /*clients*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /*services*/
    .services-cont{
        justify-content: center;
        flex-direction: column;
    }
    .services-ind{
        width: 100%;
        text-align: center;
    }
    .services-ind:nth-child(1), .services-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .services-ind img{
        width: 90%;
    }
    /*skills*/
    .flex-direction-nav a{
        display: block;
        text-decoration: none;
        position: absolute;
        top: 50%;
        z-index: 999;
        width: 30px;
        height: 30px;
        overflow: hidden;
        opacity: none;
    }
    .flex-direction-nav .flex-prev{
        font-size: 15px;
    }
    .flex-direction-nav .flex-next{
        font-size: 15px;
    }
}

html{
    scroll-behavior: smooth;
}